﻿<!-- Directive -->
@using aspVidly.Models
@model aspVidly.Models.Movie

<!-- Block of declaration -->
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Model.Name -> @Model.Name</h3>
<h2>ViewData -> @((ViewData["Movie"] as Movie)?.Name )</h2>
<h1>ViewBag -> @((ViewBag.Movie)?.Name )</h1>


