﻿@model aspVidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transaction</h2>

@{
    var classname = Model.Customers.Count > 5 ? "alert alert-success" : "alert alert-warning";
}

<h2 class="@classname">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text> No One has rated this movie before hand.</text>
}
else
{
    <ol>
        @foreach (var cus in Model.Customers)
        {
            <li>@cus.Name</li>
        }

    </ol>
}
