﻿@{
    ViewBag.Title = "Global Bank";
}

@*
    <div class="jumbotron">
        <h1>Global Bank</h1>
        <p class="lead">Global Bank is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://Global Bank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
*@

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-block btn-lg btn-primary">Withdrawal</a>
        <a href="#" class="btn btn-block btn-lg btn-primary">Quick Cash $100</a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-block btn-lg btn-primary">Balance Inquiry</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-block btn-lg btn-primary">Print Statement</a>
        <a href="#" class="btn btn-block btn-lg btn-primary">Transfer Funds</a>
        <a href="#" class="btn btn-block btn-lg btn-primary">Deposit</a>
    </div>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Global Bank MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns.
        </p>
        <p><a href="/Account/Register" id="registerLink" class="btn btn-dark">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a href="/Account/Login" id="registerLink" class="btn btn-secondary">Login</a></p>
    </div>

</div>

You are using @Request.Browser.Browser, and that's good

@{
    var amounts = new List<Decimal> { 100, 123.12m, -319, -1232.22m };
}

<ul>
    @foreach (decimal amount in amounts)
    {
        <li>@formatAmount(amount)<text> vnd</text></li>
    }
</ul>

@helper formatAmount(Decimal amount)
{
    var color = "green";

    if (amount < 0)
    {
        color = "red";
    }

    <span style="color:@color">(@String.Format("{0:c}", amount))</span>
}

@section scripts{
    <script>
        var testScriptHTML = true;
    </script>
}

@section customSection {
    <div>
        <span>This is a custom section which was not required to be existed strictly</span>
    </div>
}