﻿<!DOCTYPE html>
@{
    ViewBag.Title = "Global Bank";
    var Title = @ViewBag.Title;
   // @Html.Hidden("Title", Title);
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Global Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            @*<div class="navbar-header">*@

            <button class="navbar-toggler navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            @Html.ActionLink("Global Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*</div>*@
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">

                    @*<li class="nav-item"><a href="/Home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contacts</a></li>*@

                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "what-us", "Home", new { area = "what-us" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>

                <ul class="nav navbar-nav navbar-right mr-auto">
                    <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/Images/Final-Fantasy-XV.jpg" class="img-fluid w-100" />
            </div>
        </div>
        <div class="mx-auto">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <p>&copy; @DateTime.Now - My ASP.NET Application</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    <use xlink:href="https://raw.githubusercontent.com/frexy/glyph-iconset/master/sprite/sprite.svg"></use>

    @RenderSection("scripts", required: false)
    @RenderSection("customSection", required: false)
</body>
</html>
