﻿@model ProductApp.Asp.Models.CheckingAccount

@{
    ViewBag.Title = "Details";
}


<div class="row col-md-12">
    <h4 class="margin-top-20">Checking Account's <span style="color:orangered"> @Html.DisplayFor(model => model.Name) </span></h4>
    <div class="col-md-12">
        <hr />
        <div class="col-md-6 offset-md-3">

            <dl class="row">
                <dt class="col-sm text-right">
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </dt>

                <dd class="col-sm">
                    @Html.DisplayFor(model => model.AccountNumber)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm text-right">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd class="col-sm">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm text-right">
                    @Html.DisplayNameFor(model => model.Balance)
                </dt>
                <dd class="col-sm">
                    @Html.DisplayFor(model => model.Balance)
                </dd>
            </dl>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
